.idea/
.~lock*
*.aux
*.log
*.pdf
*.toc
*.out
*.fdb_latexmk
*.fls
*.xdv
*.synctex.gz
cmake-build-debug/
/gendict/gendict

## The regular dictionary is already in the repository to make sure
## the generator doesn’t break randomly; no need to include the minified
## version as well.
/DICTIONARY.min.json

## Local script I use to update the dictionary and grammar on the server.
/deploy.sh

